<div class="content">
    <div class="left">
        <h1>Stuff.</h1>
    </div>
    <div class="right">
        <p>My name is Michael and I live in Huntington Beach, CA. I'm a current student at UC Irvine studying computer science.</p>
        <p>I've been coding since early high school, spurred by lack of better things to do. I really enjoy working across the entire stack,
        and especially find pleasure in learning new tools.</p>
        <p>This website is written in AngularJS. I scaffolded a basic app using the Yeoman angular generator, configured my views
            using angular-ui-rouer, and started tinkering away until it looked like this.</p>
        <p>In my spare time, I play video games and make noise on the guitar.</p>
    </div>
</div>